*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial";
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding: 2rem;
  background-color: white;
}

.container {
  background-color: #f7f7f7;
}

.header {
  height: 95vh;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/ararat.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: black 1px solid;
  opacity: 75%;
  transition: transform 0.8s ease-in-out;
}
.header__logo:hover {
  opacity: 100%;
  transform: rotate(360deg);
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  -webkit-animation-name: UpToDown;
          animation-name: UpToDown;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.title-first__secondary {
  display: block;
  font-weight: 10rem;
  font-size: 2.4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation-name: DownToUp;
          animation-name: DownToUp;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6.5rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  display: inline-block;
  transition: all 0.3s;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
}

.bodier__block {
  height: 50vh;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10%;
}
.bodier__block__logo {
  width: 3rem;
  height: 3rem;
}
.bodier__block__one {
  height: 20rem;
  width: 20rem;
  border-radius: 80%;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
  margin-right: 10rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
  transition: transform 0.8s ease-in-out;
  padding: 8rem;
  text-align: center;
}
.bodier__block__one:hover {
  -webkit-transform: rotate(360deg);
  -webkit-transform-transform: rotate(360deg);
}
.bodier__block__one:active {
  transform: scale(95%);
}
.bodier__block__two {
  height: 20rem;
  width: 20rem;
  border-radius: 80%;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
  margin-left: 5rem;
  margin-right: 5rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
  transition: transform 0.8s ease-in-out;
  padding: 8rem;
  text-align: center;
}
.bodier__block__two:hover {
  -webkit-transform: rotate(360deg);
  -webkit-transform-transform: rotate(360deg);
}
.bodier__block__two:active {
  transform: scale(95%);
}
.bodier__block__three {
  height: 20rem;
  width: 20rem;
  border-radius: 80%;
  background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%);
  margin-left: 10rem;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.5);
  transition: transform 0.8s ease-in-out;
  padding: 8rem;
  text-align: center;
}
.bodier__block__three:hover {
  -webkit-transform: rotate(360deg);
  -webkit-transform-transform: rotate(360deg);
}
.bodier__block__three:active {
  transform: scale(95%);
}

@media (max-width: 1000px) {
  .bodier__block {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bodier__block__bl {
    margin: 0;
    position: relative;
    text-align: center;
    margin-top: 0;
  }
  .bodier__block {
    height: 100vh;
  }
  .header__logo {
    display: none;
  }
}
@-webkit-keyframes UpToDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes UpToDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  80% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes DownToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes DownToUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */